<section class="about" id="about">
  <div class="about__location">
    <div class="about__card about__card--yellow">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="/assets/02_Ripped Paper/Option 1/Mobile/About me 1.png"
        />
        <img
          class="about__card-bg"
          src="/assets/02_Ripped Paper/Option 1/Yellow.png"
          alt=""
          aria-hidden="true"
        />
      </picture>
      <div class="about__card-content">
        <img
          class="about__card-icon"
          src="/assets/04_About_me/location.png"
          alt=""
          width="40"
          height="40"
          aria-hidden="true"
        />
        <span class="about__card-label">{{ t('location') }}</span>
      </div>
    </div>

    <div class="about__card about__card--blue">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="/assets/02_Ripped Paper/Option 1/Mobile/About me 2.png"
        />
        <img
          class="about__card-bg"
          src="/assets/02_Ripped Paper/Option 1/2 Blue.png"
          alt=""
          aria-hidden="true"
        />
      </picture>
      <div class="about__card-content">
        <img
          class="about__card-icon"
          src="/assets/04_About_me/relocation.png"
          alt=""
          width="40"
          height="40"
          aria-hidden="true"
        />
        <span class="about__card-label">{{ t('relocate') }}</span>
      </div>
    </div>

    <div class="about__card about__card--orange">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="/assets/02_Ripped Paper/Option 1/Mobile/About me 3.png"
        />
        <img
          class="about__card-bg"
          src="/assets/02_Ripped Paper/Option 1/3 Orange.png"
          alt=""
          aria-hidden="true"
        />
      </picture>
      <div class="about__card-content">
        <img
          class="about__card-icon"
          src="/assets/04_About_me/remote.png"
          alt=""
          width="40"
          height="40"
          aria-hidden="true"
        />
        <span class="about__card-label">{{ t('remote') }}</span>
      </div>
    </div>
  </div>

  <div class="about__content">
    <div class="about__header">
      <span class="about__subtitle">{{ t('subtitle') }}</span>
      <div class="about__title-wrap">
        <h2 class="about__title">{{ t('title') }}</h2>
        <div class="about__blueline">
          <img src="/assets/04_About_me/Blue line.png" alt="" />
        </div>
      </div>
    </div>

    <p class="about__text">
      {{ t('text') }}
      <br /><br />
      {{ t('textSuffix') }}
    </p>

    <a class="about__cta" (click)="scrollToContact()" role="button">{{ t('cta') }}</a>
  </div>
</section>
