<div class="title-bg">
  <div class="legal-title">
    <h1>{{ t('title') }}</h1>
  </div>
</div>

<div class="content-area">
  <div class="imprint">
    <div class="imprint-page__section">
      <h2>{{ t('address') }}</h2>
      <p>
        Marc Odermatt<br />
        Emmetten, Schweiz
      </p>
    </div>

    <div class="imprint-page__section">
      <h2>{{ t('contact') }}</h2>
      <p>
        <a href="mailto:info@marcodermatt.ch">info&#64;marcodermatt.ch</a>
      </p>
    </div>
  </div>
</div>
