<div class="title-bg content-area">
  <div class="legal-title">
    <h1>{{ t('title') }}</h1>
  </div>
</div>

<div class="content-area">
  <div class="imprint">
    <div>
      <h2 class="section-title">{{ t('sectionTitle') }}</h2>
      <ul>
        <li>Marc Odermatt</li>
        <li>Schlüsselhostatt 3</li>
        <li>6376 Emmetten</li>
      </ul>
    </div>

    <div>
      <h2>{{ t('contactTitle') }}</h2>
      <p>Email: <a href="mailto:info&#64;marcodermatt.ch">info&#64;marcodermatt.ch</a></p>
    </div>

    @if (locale.current === 'en') {
      <div>
        <h2>{{ t('acceptanceTitle') }}</h2>
        <p>
          By accessing and using <i>Portfolio</i> (Product), you acknowledge and agree to the following terms and
          conditions, and any policies, guidelines, or amendments thereto that may be presented to you from time to time.
          We, the listed students, may update or change the terms and conditions from time to time without notice.
        </p>
      </div>

      <div>
        <h2>{{ t('scopeTitle') }}</h2>
        <p>
          <i>Portfolio</i> has been developed as part of a student group project in a web development bootcamp at the
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie GmbH</a>. It has an
          educational purpose and is not intended for extensive personal &amp; business usage. As such, we cannot guarantee
          consistent availability, reliability, accuracy, or any other aspect of quality regarding this Product.
        </p>
        <br />
        <p>
          The design of <i>Portfolio</i> is owned by the
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie GmbH</a>.
          Unauthorized use, reproduction, modification, distribution, or replication of the design is strictly prohibited.
        </p>
      </div>

      <div>
        <h2>{{ t('proprietaryTitle') }}</h2>
        <p>
          Aside from the design owned by
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie GmbH</a>, we, the
          listed students, retain all proprietary rights in <i>Portfolio</i>, including any associated copyrighted
          material, trademarks, and other proprietary information.
        </p>
      </div>

      <div>
        <h2>{{ t('useTitle') }}</h2>
        <p>
          <i>Portfolio</i> is intended to be used for lawful purposes only, in accordance with all applicable laws and
          regulations. Any use of <i>Portfolio</i> for illegal activities, or to harass, harm, threaten, or intimidate
          another person, is strictly prohibited. You are solely responsible for your interactions with other users of
          <i>Portfolio</i>.
        </p>
      </div>

      <div>
        <h2>{{ t('disclaimerTitle') }}</h2>
        <p>
          <i>Portfolio</i> is provided "as is" without warranty of any kind, whether express or implied, including but not
          limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. In
          no event will we, the listed students, or the
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie</a>, be liable for
          any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to,
          damages for loss of profits, goodwill, use, data, or other intangible losses, even if we have been advised of
          the possibility of such damages, arising out of or in connection with the use or performance of
          <i>Portfolio</i>.
        </p>
      </div>

      <div>
        <h2>{{ t('indemnityTitle') }}</h2>
        <p>
          You agree to indemnify, defend and hold harmless us, the listed students, the
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie</a>, and our
          affiliates, partners, officers, directors, agents, and employees, from and against any claim, demand, loss,
          damage, cost, or liability (including reasonable legal fees) arising out of or relating to your use of
          <i>Portfolio</i> and/or your breach of this Legal Notice.
        </p>
        <br />
        <p>For any questions or notices, please contact us at <a href="mailto:info&#64;marcodermatt.ch">info&#64;marcodermatt.ch</a>.</p>
        <br />
        <p>Date: July 26, 2025</p>
      </div>
    } @else {
      <div>
        <h2>{{ t('acceptanceTitle') }}</h2>
        <p>
          Durch den Zugriff auf und die Nutzung von <i>Portfolio</i> (Produkt) erkennen Sie die folgenden
          Geschäftsbedingungen sowie alle Richtlinien, Leitlinien oder Änderungen an, die Ihnen von Zeit zu Zeit
          vorgelegt werden können. Wir, die aufgeführten Studenten, können die Geschäftsbedingungen jederzeit ohne
          Vorankündigung aktualisieren oder ändern.
        </p>
      </div>

      <div>
        <h2>{{ t('scopeTitle') }}</h2>
        <p>
          <i>Portfolio</i> wurde im Rahmen eines studentischen Gruppenprojekts in einem Webentwicklungs-Bootcamp bei der
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie GmbH</a> entwickelt.
          Es dient einem Bildungszweck und ist nicht für eine umfangreiche private oder geschäftliche Nutzung vorgesehen.
          Daher können wir keine gleichbleibende Verfügbarkeit, Zuverlässigkeit, Genauigkeit oder sonstige
          Qualitätsaspekte dieses Produkts garantieren.
        </p>
        <br />
        <p>
          Das Design von <i>Portfolio</i> ist Eigentum der
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie GmbH</a>.
          Die unbefugte Nutzung, Vervielfältigung, Änderung, Verbreitung oder Nachahmung des Designs ist strengstens
          untersagt.
        </p>
      </div>

      <div>
        <h2>{{ t('proprietaryTitle') }}</h2>
        <p>
          Abgesehen vom Design, das der
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie GmbH</a> gehört,
          behalten wir, die aufgeführten Studenten, alle Eigentumsrechte an <i>Portfolio</i>, einschliesslich aller
          damit verbundenen urheberrechtlich geschützten Materialien, Marken und sonstigen geschützten Informationen.
        </p>
      </div>

      <div>
        <h2>{{ t('useTitle') }}</h2>
        <p>
          <i>Portfolio</i> ist ausschliesslich für rechtmässige Zwecke bestimmt, im Einklang mit allen geltenden
          Gesetzen und Vorschriften. Jede Nutzung von <i>Portfolio</i> für illegale Aktivitäten oder um eine andere
          Person zu belästigen, zu schädigen, zu bedrohen oder einzuschüchtern, ist strengstens untersagt. Sie sind
          allein verantwortlich für Ihre Interaktionen mit anderen Nutzern von <i>Portfolio</i>.
        </p>
      </div>

      <div>
        <h2>{{ t('disclaimerTitle') }}</h2>
        <p>
          <i>Portfolio</i> wird „wie besehen" ohne jegliche Gewährleistung bereitgestellt, weder ausdrücklich noch
          stillschweigend, einschliesslich, aber nicht beschränkt auf die stillschweigenden Gewährleistungen der
          Marktgängigkeit, der Eignung für einen bestimmten Zweck und der Nichtverletzung von Rechten. In keinem Fall
          haften wir, die aufgeführten Studenten, oder die
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie</a>, für direkte,
          indirekte, zufällige, besondere, Folge- oder exemplarische Schäden, einschliesslich, aber nicht beschränkt auf
          Schäden durch entgangenen Gewinn, Geschäftswert, Nutzung, Daten oder andere immaterielle Verluste, selbst wenn
          wir auf die Möglichkeit solcher Schäden hingewiesen wurden, die sich aus oder im Zusammenhang mit der Nutzung
          oder Leistung von <i>Portfolio</i> ergeben.
        </p>
      </div>

      <div>
        <h2>{{ t('indemnityTitle') }}</h2>
        <p>
          Sie erklären sich damit einverstanden, uns, die aufgeführten Studenten, die
          <a href="https://developerakademie.com" target="_blank" rel="noopener">Developer Akademie</a> sowie unsere
          verbundenen Unternehmen, Partner, leitenden Angestellten, Direktoren, Vertreter und Mitarbeiter von und gegen
          alle Ansprüche, Forderungen, Verluste, Schäden, Kosten oder Haftungen (einschliesslich angemessener
          Anwaltskosten) schadlos zu halten, die sich aus oder im Zusammenhang mit Ihrer Nutzung von <i>Portfolio</i>
          und/oder Ihrem Verstoss gegen diesen rechtlichen Hinweis ergeben.
        </p>
        <br />
        <p>Bei Fragen oder Mitteilungen kontaktieren Sie uns bitte unter <a href="mailto:info&#64;marcodermatt.ch">info&#64;marcodermatt.ch</a>.</p>
        <br />
        <p>Datum: 26. Juli 2025</p>
      </div>
    }
  </div>
</div>
