@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@500;600;700&family=Kalam:wght@700&display=swap');

:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: #0e1013;
  color: #f8f9fa;
}

a {
  color: inherit;
}
