:host {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.contact-bg {
  background-image: url('/assets/01_Background/Design Size Relation@3x/06_Contact.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-white);
}


